.applications .box {
   background-color: @theme_base_color;
}

.applications .search-entry {
    margin: 10px;
}

.applications .frame {
    border-width: 0px;
}

.permissions .frame {
    border-style: none;
    border-width: 0px;
}

.permissions .box {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 25px;
}

.permissions clamp {
    margin-bottom: 25px;
}

row .frame {
    border-width: 0px;
}

row .toolbox {
    margin-right: 15px;
}

row .content .bus,
row .content .variable,
row .content .path {
    color: @theme_fg_color;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 8px;
    border-color: @borders;
}

row .content .bus,
row .content .variable,
row .content .path {
    background-color: @theme_bg_color;
}

row .status {
    color: @theme_selected_bg_color;
}
row.activatable .status {
    margin-right: 8px;
}

row .content .bus entry,
row .content .variable entry,
row .content .path entry {
    margin-left: -8px;
}

row .content .bus entry,
row .content .bus button,
row .content .bus button:hover,
row .content .bus button:focus,
row .content .bus button:selected,
row .content .variable entry,
row .content .variable button,
row .content .variable button:hover,
row .content .variable button:focus,
row .content .variable button:selected,
row .content .path entry,
row .content .path button,
row .content .path button:hover,
row .content .path button:focus,
row .content .path button:selected {
   background-image: none;
   background-color: transparent;
   border: none;
   box-shadow: none;
}

row .content .bus .info,
row .content .variable .info,
row .content .path .info {
    padding: 8px;
    color: @theme_selected_bg_color;
    background-color: transparent;
    background-image: -gtk-icontheme("dialog-question-symbolic");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
}

row .content .relative.path .info,
row .content .bus .info,
row .content .variable .info {
    background-image: -gtk-icontheme("emblem-ok-symbolic");
}

row .content .bus.not-valid .info,
row .content .variable.not-valid .info,
row .content .path.not-valid .info {
    color: @warning_color;
    background-image: -gtk-icontheme("dialog-warning-symbolic");
}

row .content .bus button image,
row .content .variable button image,
row .content .path button image {
    color: @theme_fg_color;
}

row .content .bus button image:disabled,
row .content .variable button image:disabled,
row .content .path button image:disabled {
    color: @insensitive_fg_color;
}

/* XXX Navigate through xdg options without the popup  */
row .content .bus window,
row .content .variable window,
row .content .path window {
   opacity: 0;
   background-image: none;
   background-color: transparent;
   border: none;
   box-shadow: none;
}

separator {
    margin-bottom: 0px;
    margin-top: 0px;
}

.permissions .app-info {
    margin-top: 15px;
}
.permissions .app-info.compact {
    margin-top: 5px;
    margin-bottom: 5px;
}

.permissions .app-info .icon {
    margin: 25px 25px 25px 0px;
}
.permissions .app-info.compact .icon {
    margin: 5px 0px 5px 0px;
}

.permissions .app-info .name {
    font-size: xx-large;
    font-weight: 900;
    margin-bottom: 5px;
}

.permissions .app-info .author {
    font-weight: bold;
    margin-bottom: 15px;
}
.permissions .app-info.compact .author {
    margin-bottom: 25px;
}

.permissions .app-info .description {
    color: @insensitive_fg_color;
    margin-bottom: 5px;
}

.permissions .app-info .value {
    margin-bottom: 5px;
}

.reset-button label {
  margin-right: 5px;
  margin-left: 5px;
}
.reset-button image {
    color: @warning_color;
}

/* Menu */

window .menu.background label {
    padding: 7.5px 0px;
}

/* Undo popup */

.app-notification .undo-label {
  margin-right: 10px;
}
.app-notification .undo-button {
  margin-right: 5px;
}

/* docs viewer */

.previous-button {
    margin-left: 7.5px;
}

.previous-button,
.back-button {
    padding-right: 12.5px;
    padding-left: 12.5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.next-button,
.forward-button {
    padding-right: 12.5px;
    padding-left: 12.5px;
    border-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

/* placeholder */

.placeholder {
    color: @insensitive_fg_color;
    background-color: @theme_base_color;
}
.placeholder label {
    margin: 10px;
    font-size: 20px;
}

/* unset button */

.unset-button {
    margin-right: 10px;
}

/* keybindings */

@binding-set WindowBindings {
  bind "<Primary>q" { "close" () };
  bind "<Primary>f" { "find" () };
}

window {
  -gtk-key-bindings: WindowBindings;
}
