.applications .box {
   background-color: @theme_base_color;
}

.applications .search-entry {
    margin: 10px;
}

.applications .icon {
   padding-left: 5px;
}

.applications .name,
.applications .app-id {
   padding-left: 10px;
   padding-right: 10px;
}

.applications .app-id {
    font-style: italic;
    font-size: 14px;
}

.applications .frame {
    border-width: 0px;
}

.permissions .box {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.permissions .row {
   margin-top: 10px;
   background-color: @theme_base_color;
   border-style: solid;
   border-width: 0.2px;
}

.permissions .description,
.permissions .permission {
   margin-left: 15px;
}

.permissions .description {
    font-weight: bold;
}

.permissions .permission {
    font-style: italic;
    font-size: 14px;
}

.permissions .content {
   margin-right: 15px;
}

.permissions .frame {
    border-width: 0px;
}

separator {
    margin-bottom: 0px;
    margin-top: 0px;
}
