#applicationsBox {
   background-color: @theme_base_color;
}

#applicationsSearchEntry {
    margin: 10px;
}

#applicationIcon,
#applicationLabel,
#applicationDescription {
   padding-left: 5px;
}

#applicationDescription {
    font-style: italic;
    font-size: 14px;
}

#permissionsBox {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#FlatsealPermissionSwitchRow,
#FlatsealPermissionEntryRow {
   margin-top: 10px;
   background-color: @theme_base_color;
   border-style: solid;
   border-width: 0.2px;
}

#permissionLabel {
    margin-left: 15px;
    font-weight: bold;
}

#permissionDescription {
    margin-left: 15px;
    font-style: italic;
    font-size: 14px;
}

#permissionContent {
   margin-right: 15px;
}
