.applications .box {
   background-color: @theme_base_color;
}

.applications .search-entry {
    margin: 10px;
}

.applications .icon {
   padding-left: 5px;
}

.applications .name,
.applications .app-id {
   padding-left: 10px;
   padding-right: 10px;
}

.applications .app-id {
    font-style: italic;
    font-size: small;
}

.applications .frame {
    border-width: 0px;
}

.permissions .frame {
    border-style: none;
    border-width: 0px;
}

.permissions .box {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 25px;
}

.permissions .group ~ .group {
    margin-top: 25px;
    margin-bottom: 10px;
}
.permissions .group .title {
    font-weight: bold;
}
.permissions .group .description {
    margin-top: 5px;
    color: @insensitive_fg_color;
}

.permissions .row {
    background-color: @theme_base_color;
    border-style: solid;
    border-width: 0.2px;
}

.permissions .row.shared ~ .shared,
.permissions .row.sockets ~ .sockets,
.permissions .row.devices ~ .devices,
.permissions .row.features ~ .features,
.permissions .row.filesystems ~ .filesystems,
.permissions .row.persistent ~ .persistent,
.permissions .row.environment ~ .environment,
.permissions .row.session ~ .session {
    border-style: none solid solid solid;
}

.permissions .row .description,
.permissions .row .permission {
   margin-left: 15px;
}

.permissions .row .permission {
    font-style: italic;
    font-size: small;
}

.permissions .row .content {
   margin-left: 15px;
   margin-right: 15px;
}

.permissions .row .frame {
    border-width: 0px;
}

.permissions .row .toolbox {
    margin-right: 15px;
}

.permissions .row .content .bus,
.permissions .row .content .variable,
.permissions .row .content .path {
    color: @theme_fg_color;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 8px;
    border-color: @borders;
    margin-bottom: 10px;
}

.permissions .row .content .bus,
.permissions .row .content .variable,
.permissions .row .content .path {
    background-color: @theme_bg_color;
}

.permissions .row .content .bus entry,
.permissions .row .content .variable entry,
.permissions .row .content .path entry {
    margin-left: -8px;
}

.permissions .row .content .bus entry,
.permissions .row .content .bus button,
.permissions .row .content .bus button:hover,
.permissions .row .content .bus button:focus,
.permissions .row .content .bus button:selected,
.permissions .row .content .variable entry,
.permissions .row .content .variable button,
.permissions .row .content .variable button:hover,
.permissions .row .content .variable button:focus,
.permissions .row .content .variable button:selected,
.permissions .row .content .path entry,
.permissions .row .content .path button,
.permissions .row .content .path button:hover,
.permissions .row .content .path button:focus,
.permissions .row .content .path button:selected {
   background-image: none;
   background-color: transparent;
   border: none;
   box-shadow: none;
}

.permissions .row .content .bus .info,
.permissions .row .content .variable .info,
.permissions .row .content .path .info {
    padding: 8px;
    color: @theme_selected_bg_color;
    background-color: transparent;
    background-image: -gtk-icontheme("dialog-question-symbolic");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
}

.permissions .row .content .relative.path .info,
.permissions .row .content .bus .info,
.permissions .row .content .variable .info {
    background-image: -gtk-icontheme("emblem-ok-symbolic");
}

.permissions .row .content .bus.not-valid .info,
.permissions .row .content .variable.not-valid .info,
.permissions .row .content .path.not-valid .info {
    color: @warning_color;
    background-image: -gtk-icontheme("dialog-warning-symbolic");
}

.permissions .row .content .bus button image,
.permissions .row .content .variable button image,
.permissions .row .content .path button image {
    color: @theme_fg_color;
}

.permissions .row .content .bus button image:disabled,
.permissions .row .content .variable button image:disabled,
.permissions .row .content .path button image:disabled {
    color: @insensitive_fg_color;
}

/* XXX Navigate through xdg options without the popup  */
.permissions .row .content .bus window,
.permissions .row .content .variable window,
.permissions .row .content .path window {
   opacity: 0;
   background-image: none;
   background-color: transparent;
   border: none;
   box-shadow: none;
}

separator {
    margin-bottom: 0px;
    margin-top: 0px;
}

.permissions .app-info {
    margin-top: 15px;
}
.permissions .app-info.compact {
    margin-top: 5px;
    margin-bottom: 5px;
}

.permissions .app-info .icon {
    margin: 25px 25px 25px 0px;
}
.permissions .app-info.compact .icon {
    margin: 5px 0px 5px 0px;
}

.permissions .app-info .name {
    font-size: xx-large;
    font-weight: 900;
    margin-bottom: 5px;
}

.permissions .app-info .author {
    font-weight: bold;
    margin-bottom: 15px;
}
.permissions .app-info.compact .author {
    margin-bottom: 25px;
}

.permissions .app-info .description {
    color: @insensitive_fg_color;
    margin-bottom: 5px;
}

.permissions .app-info .value {
    margin-bottom: 5px;
}

.reset-button label {
  margin-right: 5px;
  margin-left: 5px;
}
.reset-button image {
    color: @warning_color;
}
