.applications .box {
   background-color: @theme_base_color;
}

.applications .search-entry {
    margin: 10px;
}

.applications .icon {
   padding-left: 5px;
}

.applications .name,
.applications .app-id {
   padding-left: 10px;
   padding-right: 10px;
}

.applications .app-id {
    font-style: italic;
    font-size: 14px;
}

.applications .frame {
    border-width: 0px;
}

.permissions .box {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.permissions .row {
   margin-top: 10px;
   background-color: @theme_base_color;
   border-style: solid;
   border-width: 0.2px;
}

.permissions .description,
.permissions .permission {
   margin-left: 15px;
}

.permissions .description {
    font-weight: bold;
}

.permissions .permission {
    font-style: italic;
    font-size: 14px;
}

.permissions .content {
   margin-left: 15px;
   margin-right: 15px;
}

.permissions .frame {
    border-width: 0px;
}

.permissions .toolbox {
    margin-right: 15px;
}

.permissions .content .path {
    color: @theme_fg_color;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 8px;
    border-color: @borders;
    margin-bottom: 10px;
}

.permissions .content .path entry,
.permissions .content .path button,
.permissions .content .path button:hover,
.permissions .content .path button:focus,
.permissions .content .path button:selected {
   background-image: none;
   background-color: transparent;
   border: none;
   box-shadow: none;
}

.permissions .content .path button image {
    color: @theme_fg_color;
}

.permissions .content .path.read-only {
    background-color: @theme_bg_color;
}

.permissions .content .path.create,
.permissions .content .path.read-write  {
    background-color: @theme_bg_color;
}

separator {
    margin-bottom: 0px;
    margin-top: 0px;
}
