on:
  push:
    branches: [master]
  pull_request:
name: CI
jobs:
  testing:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/andyholmes/flatter/gnome:48
      options: --privileged
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Build
        uses: andyholmes/flatter@main
        with:
          files: com.github.tchx84.Flatseal.json
          run-tests: true